/** Global StyleSheet =============================
 Reset, Typography, Gap, Header, Navigation, Footer
 ============================================== **/

@use "variables" as *;
@use "mixins";
@use "typography";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro", Helvetica, sans-serif;
  @include mixins.body-mobile;
  @include mixins.tablet {
    @include mixins.body-tablet;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2 {
  @include mixins.page-header-mobile;
}

h1 {
  @include mixins.tablet {
    @include mixins.page-header-tablet;
  }
}
h2 {
  @include mixins.tablet {
    @include mixins.section-header-tablet;
  }
}

h3 {
  @include mixins.sub-header-mobile;
  @include mixins.tablet {
    @include mixins.sub-header-tablet;
  }
}

.small {
  @include mixins.small-mobile;
  @include mixins.tablet {
    @include mixins.small-tablet;
  }
}
/* GAP */
.header,
.hero,
.main-content,
.gallery,
.footer {
  padding: 0 $mobile-gap;

  @include mixins.tablet {
    padding: 0 $tablet-gap-outside;
  }
  @include mixins.desktop {
    padding: 0 $desktop-gap-outside;
  }
}

/* Header Section */
.header {
  background-color: $bandSite-black;
  @include mixins.flex-column;
  align-items: center;

  @include mixins.tablet {
    @include mixins.flex-row;
    align-items: flex-end;
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: $mobile-gap;
    margin-left: 0;

    @include mixins.desktop {
      margin: 1.5rem 2.5rem 1.5rem 0;
    }
  }
}

/* Main Navigation */
.main-nav {
  width: 100vw;
  text-align: center;

  &__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex: 1;

    @include mixins.tablet {
      flex: 0;
      margin: 0 1rem;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 0.5rem;

    @include mixins.tablet {
      padding: 1rem 0;
    }
  }

  &__link,
  &__link:visited {
    color: $bandSite-mercury;
  }

  &__link {
    border-bottom: 3px solid transparent;
  }

  &__link:hover,
  &__link.main-nav__link--active {
    color: $bandSite-white;
    border-color: $bandSite-white;
  }

  &__link.main-nav__link--active {
    font-weight: 700;
  }
}

/****** Footer Component *****/
.footer {
  &__content {
    margin-bottom: 5rem;
    @include mixins.tablet {
      width: 70%;
      margin-bottom: 1rem;
    }
  }

  &__flex-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__social-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }

  &__socials {
    a:nth-child(2n + 2) {
      margin: 0 $mobile-gap;
    }
    @include mixins.tablet {
      margin-left: $tablet-gap-inside;
    }
  }

  &__info-list-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__management-list {
    p {
      margin: $mobile-gap 0;
      //Selecting the First Pragraph of each Coloumn
      &:first-child {
        font-weight: 600;
      }
    }

    a {
      color: $bandSite-white;
    }
  }
}

.copy-right {
  padding: $mobile-gap 0;
}
