/** Global StyleSheet =================================================
 Reset, Typography, Gap, Header, Navigation, Form, Button, Hero, Footer
 =================================================================== **/

@use "./variables" as *;
@use "./mixins";
@use "./typography";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro", Helvetica, sans-serif;
  @include mixins.body-mobile;
  @include mixins.tablet {
    @include mixins.body-tablet;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2 {
  @include mixins.page-header-mobile;
}

h1 {
  @include mixins.tablet {
    @include mixins.page-header-tablet;
  }
}
h2 {
  @include mixins.tablet {
    @include mixins.section-header-tablet;
  }
}

h3 {
  @include mixins.sub-header-mobile;
  @include mixins.tablet {
    @include mixins.sub-header-tablet;
  }
}

.small {
  @include mixins.small-mobile;
  @include mixins.tablet {
    @include mixins.small-tablet;
  }
}
/* GAP */
.header,
.hero,
.about,
.shows,
.gallery,
.conversation,
.footer {
  padding: 0 $mobile-gap;

  @include mixins.tablet {
    padding: 0 $tablet-gap-outside;
  }
  @include mixins.desktop {
    padding: 0 $desktop-gap-outside;
  }
}

/* Header Section */
.header {
  background-color: $primary-dark;
  @include mixins.flex-column;
  align-items: center;

  @include mixins.tablet {
    @include mixins.flex-row;
    align-items: flex-end;
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: $mobile-gap;
    margin-left: 0;

    @include mixins.desktop {
      margin: 1.5rem 2.5rem 1.5rem 0;
    }
  }
}

/* Main Navigation */
.main-nav {
  width: 100vw;
  text-align: center;

  &__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex: 1;

    @include mixins.tablet {
      flex: 0;
      margin: 0 1rem;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 0.5rem;

    @include mixins.tablet {
      padding: 1rem 0;
    }
  }

  &__link,
  &__link:visited {
    color: $secondary-medium;
  }

  &__link {
    border-bottom: 3px solid transparent;
  }

  &__link:hover,
  &__link.main-nav__link--active {
    color: $primary-light;
    border-color: $primary-light;
  }

  &__link.main-nav__link--active {
    font-weight: 700;
  }
}

/* Form */
.form {
  font-family: "AvenirNext LT Pro", Helvetica, sans-serif;
  width: 100%;
  &__label {
    text-transform: uppercase;
    display: block;
    @include mixins.small-mobile;
    //margin-bottom: 4px;
    color: $primary-medium;
  }

  &__input-text,
  &__textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.75rem;
    min-height: 2.25rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $secondary-medium;
    margin-bottom: 4px;

    &:focus {
      outline: none;
      border: 1px solid $primary-dark;
    }
    @include mixins.tablet {
      padding: 1rem;
      min-height: 3rem;
    }
  }

  &__textarea {
    resize: none;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

/* Button */
.primary-button {
  background-color: $primary-dark;
  color: $primary-light;
  border-radius: 4px;
  width: 100%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $secondary-dark;
  }

  @include mixins.tablet {
    max-width: 9.375rem;
    padding: 0 2rem;
  }
}

/* Hero Section */
.hero {
  @include mixins.flex-row-y-center;
  width: 100%;
  color: $primary-light;
}

/****** Footer Component *****/
.footer {
  background-color: $primary-dark;
  color: $primary-light;

  &__content {
    @include mixins.tablet {
      margin-bottom: 1rem;
    }
  }

  &__flex-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      flex-direction: column;
      @include mixins.tablet {
        flex-direction: row;
      }
    }
  }

  &__social-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }

  &__socials {
    a:nth-child(2n + 2) {
      margin: 0 $mobile-gap;
    }
    @include mixins.tablet {
      margin-left: $tablet-gap-inside;
    }
    @include mixins.desktop {
      margin-left: $desktop-gap-outside;
    }
  }

  &__info-list-wrapper {
    margin-bottom: 5rem;
    @include mixins.tablet {
      margin-bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      order: 2;
    }
    @include mixins.desktop {
      width: 70%;
    }
  }

  &__management-list {
    p {
      margin: $mobile-gap 0;
      //Selecting the First Pragraph of each Coloumn
      &:first-child {
        font-weight: 600;
      }
    }

    a {
      color: $primary-light;
    }
  }
}

.copy-right {
  padding: $mobile-gap 0;
}
