/* Bandsite Colours */

/* Primary Colours */
$bandSite-black: #323232;
$bandSite-silver: #afafaf;
$bandSite-white: #ffffff;

/* Secondary Colours */
$bandSite-darkBlack: #000000;
$bandSite-mercury: #e1e1e1;
$bandSite-alabaster: #fafafa;
