/* Bio Page Stylesheet */

@use "./partials/variables" as *;
@use "./partials/mixins";
@use "./partials/typography";
@use "./partials/global";

/* Hero Section */
.hero {
  @include mixins.flex-row-y-center;
  width: 100%;
  height: 40vh;
  background: url("../assets/images/hero-bio.jpg"), rgba(50, 50, 50, 0.5);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: $bandSite-white;

  @include mixins.tablet {
    height: 80vh;
  }
}

/* Main Content*/
.main-content {
  padding-bottom: $mobile-gap-component;
  @include mixins.tablet {
    padding-bottom: $tablet-gap-component;
  }
  // Bio Section image and paragraphs
  &__bio {
    @include mixins.tablet {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__img {
    width: 100%;
    margin: $mobile-gap 0;
  }

  &__quote,
  &__author {
    @include mixins.sub-header-mobile;
    padding: 0;
    margin: 0;
  }

  &__quote {
    @include mixins.tablet {
      @include mixins.sub-header-tablet;
      padding: 0;
    }

    @include mixins.desktop {
      max-width: 80%;
    }
  }

  &__author {
    @include mixins.tablet {
      @include mixins.small-tablet;
    }
  }

  //Main Content main 2 rows/coloumn of Praragraph Section
  &__paragraphs {
    @include mixins.tablet {
      display: flex;
    }
    p:last-child {
      @include mixins.mobile {
        margin-top: $mobile-gap;
      }

      @include mixins.tablet {
        margin-top: 0;
        margin-left: $tablet-gap-inside;
      }
    }
  }
}

/* Gallery */
.gallery {
  background-color: $bandSite-alabaster;
  padding-bottom: $mobile-gap-component;
  @include mixins.tablet {
    padding-bottom: $tablet-gap-component;
  }

  &__images {
    @include mixins.tablet {
      display: flex;
      flex-wrap: wrap;
    }
    img {
      width: 100%;
      display: block;
      padding-bottom: $mobile-gap;
      @include mixins.tablet {
        width: calc(30% - 0.75rem);
        margin: $tablet-half-gap-inside;
        padding-bottom: 0;
      }
    }
  }
}
