/* Bandsite Colours */
/* Primary Colours */
/* Secondary Colours */
/** Mixins : Flex, Font Size, Media Query **/
/* Flex mixins*/
/* Font size  Mobile mixins */
/* Font size  Tablet and Desktop mixins */
/* Responsive mixins */
/* Fonts */
/** Regular **/
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Regular.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/** Demi **/
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Demi.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Demi.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
/** Bold **/
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/CormorantGaramond-Bold.woff") format("woff"), url("../assets/fonts/CormorantGaramond-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
/** Global StyleSheet: Reset, Typography, Gap, Header, Navigation, Footer **/
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro", Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1,
h2 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.small {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* Gap, General padding and margin */
.main,
.footer {
  padding: 0 1rem;
}

/* Header Section */
.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
  }
}
.header__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem;
}
@media (min-width: 1280px) {
  .header__logo {
    margin: 1.5rem 2.5rem;
  }
}

/* Main Navigation */
.main-nav {
  width: 100vw;
  text-align: center;
}
.main-nav__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  flex: 1;
}
@media (min-width: 768px) {
  .main-nav__item {
    flex: 0;
    margin: 0 1rem;
  }
}
.main-nav__link {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 1rem 0;
  }
}
.main-nav__link, .main-nav__link:visited {
  color: #e1e1e1;
}
.main-nav__link {
  border-bottom: 3px solid transparent;
}
.main-nav__link:hover, .main-nav__link.main-nav__link--active {
  color: #ffffff;
  border-color: #ffffff;
}
.main-nav__link.main-nav__link--active {
  font-weight: 700;
}/*# sourceMappingURL=bio.css.map */