/* Bio Page Stylesheet */

@use "./partials/variables" as *;
@use "./partials/mixins";
@use "./partials/typography";
@use "./partials/global";

/* Hero Section */
.hero--shows {
  @extend .hero;
  flex-direction: column;
  align-items: flex-start;
  min-height: 70vh;
  background: url("../assets/images/hero-shows.jpg"), rgba(50, 50, 50, 0.5);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: $primary-light;

  @include mixins.desktop {
    @include mixins.flex-row;
    align-items: center;
    min-height: 80vh;
    justify-content: space-between;
  }

  &__titles {
    width: 75%;

    @include mixins.tablet {
      width: 77%;
    }
    @include mixins.desktop {
      width: 40%;
      h3 {
        padding-top: 0;
      }
    }

    h1 {
      padding-top: 0;
    }
  }

  &__iframe {
    width: 100%;
    margin-bottom: $mobile-gap;

    @include mixins.tablet {
      width: 60%;
    }

    @include mixins.desktop {
      width: 50%;
      margin: 0;
    }
  }
}

/* Shows Section*/
.shows {
  margin-bottom: $mobile-gap;
  @include mixins.desktop {
    display: flex;
    justify-content: space-evenly;
  }

  &__row {
    border-bottom: 1px solid $secondary-medium;
    padding: $mobile-gap 0;

    @include mixins.tablet {
      display: flex;
      align-items: center;
      padding: 1rem;

      > div {
        margin-right: auto;
        width: 12.5rem;
      }
    }

    &:hover {
      background-color: $secondary-light;
    }

    &--top {
      display: none;
      @include mixins.tablet {
        display: flex;
        justify-content: space-between;
        width: 84%;
        border: none;
      }
      @include mixins.desktop {
        width: 80%;
      }
    }
  }

  &__header {
    color: $primary-medium;
    text-transform: uppercase;
    @include mixins.tablet {
      display: none;
    }
  }

  &__top-header {
    display: none;
    @include mixins.tablet {
      color: $primary-medium;
      text-transform: uppercase;
      display: block;
    }
  }

  &__details {
    @include mixins.sub-header-mobile;
    padding: 0.5rem 0 1rem;

    @include mixins.tablet {
      padding: 0;
    }
  }
}

.selected {
  background-color: $secondary-medium;
  cursor: pointer;
}
